<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ApplicationSceneManifest</key>
  <dict>
    <key>ApplicationSupportsMultipleScenes</key>
    <false/>
    <key>SceneConfigurations</key>
    <dict>
    <key>UIWindowSceneSessionRoleApplication</key>
    <array>
      <dict>
        <key>SceneConfigurationName</key>
        <string>Default Configuration</string>
        <key>SceneDelegateClassName</key>
        <string>HelloWorld.HelloWorld</string>
      </dict>
    </array>
    </dict>
  </dict>
</dict>
</plist>
