name: build

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.swift'
      - '.github/workflows/build.yml'

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        include:
          - branch: swift-5.4.3-release
            tag: 5.4.3-RELEASE

          - branch: swift-5.5-RELEASE
            tag: 5.5-RELEASE

          - branch: development
            tag: DEVELOPMENT-SNAPSHOT-2021-06-12-a

    steps:
    - uses: actions/checkout@v2
    - uses: seanmiddleditch/gha-setup-vsdevenv@master
    - name: Install Swift
      uses: ./.github/actions/install-swift
      with:
        tag: ${{ matrix.tag }}
        branch: ${{ matrix.branch }}

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v -Xswiftc -DENABLE_TESTING
