name: build

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.swift'

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        include:
          - tag: 5.4-RELEASE
            branch: swift-5.4-release
          - tag: 5.5-DEVELOPMENT-SNAPSHOT-2021-05-02-a
            branch: swift-5.5-branch
          - tag: DEVELOPMENT-SNAPSHOT-2021-04-26-a
            branch: development

    steps:
    - uses: actions/checkout@v2
    - uses: seanmiddleditch/gha-setup-vsdevenv@master
    - uses: .github/actions/install-swift
      with:
        tag: ${{ matrix.tag }}
        branch: ${{ matrix.branch }}

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v -Xswiftc -DENABLE_TESTING
