name: build

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.swift'
      - '.github/workflows/build.yml'

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        include:
          # - branch: swift-5.4.3-release
          #  tag: 5.4.3-RELEASE

          # - branch: swift-5.5-release
          #  tag: 5.5-RELEASE

          - branch: development
            tag: DEVELOPMENT-SNAPSHOT-2021-10-20-a

    steps:    
    - uses: compnerd/gha-setup-swift@main
      with:
        tag: ${{ matrix.tag }}
        branch: ${{ matrix.branch }}

    - uses: actions/checkout@v2

    - name: Resolve
      run: swift package -v resolve

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v -Xswiftc -DENABLE_TESTING
