name: build

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.swift'
      - '.github/workflows/build.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        include:
          - branch: swift-5.4.3-release
            tag: 5.4.3-RELEASE

          - branch: swift-5.5-release
            tag: 5.5-RELEASE

          - branch: swift-5.6-branch
            tag: DEVELOPMENT-SNAPSHOT-2022-01-09-a

          - branch: development
            tag: DEVELOPMENT-SNAPSHOT-2021-12-06-a

    steps:    
    - uses: compnerd/gha-setup-swift@main
      with:
        tag: ${{ matrix.tag }}
        branch: ${{ matrix.branch }}

    - uses: actions/checkout@v2

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v -Xswiftc -DENABLE_TESTING
