name: documentation

on:
  push:
    branches:
      - main
    paths:
      - 'Sources/**/*.swift'

jobs:
  document:
    if: ${{ github.repository == 'compnerd/swift-win32' }}
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - uses: seanmiddleditch/gha-setup-vsdevenv@master

    - name: Install Swift 5.5-DEVELOPMENT-SNAPSHOT-2021-05-02-a
      run: |
        Install-Binary -Url "https://swift.org/builds/swift-5.5-branch/windows10/swift-5.5-DEVELOPMENT-SNAPSHOT-2021-05-02-a/swift-5.5-DEVELOPMENT-SNAPSHOT-2021-05-02-a-windows10.exe" -Name "installer.exe" -ArgumentList ("-q")
    - name: Set Environment Variables
      run: |
        echo "SDKROOT=C:\Library\Developer\Platforms\Windows.platform\Developer\SDKs\Windows.sdk" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "DEVELOPER_DIR=C:\Library\Developer" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
    - name: Adjust Paths
      run: |
        echo "C:\Library\Swift-development\bin;C:\Library\icu-67\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        echo "C:\Library\Developer\Toolchains\unknown-Asserts-development.xctoolchain\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - name: Install Supporting Files
      run: |
        Copy-Item "$env:SDKROOT\usr\share\ucrt.modulemap" -destination "$env:UniversalCRTSdkDir\Include\$env:UCRTVersion\ucrt\module.modulemap"
        Copy-Item "$env:SDKROOT\usr\share\visualc.modulemap" -destination "$env:VCToolsInstallDir\include\module.modulemap"
        Copy-Item "$env:SDKROOT\usr\share\visualc.apinotes" -destination "$env:VCToolsInstallDir\include\visualc.apinotes"
        Copy-Item "$env:SDKROOT\usr\share\winsdk.modulemap" -destination "$env:UniversalCRTSdkDir\Include\$env:UCRTVersion\um\module.modulemap"

    # TODO(compnerd) this should get merged into swift-doc's distribution
    - name: Fetch graphviz
      run: |
        Invoke-WebRequest -Uri "https://artprodeus21.artifacts.visualstudio.com/A8fd008a0-56bc-482c-ba46-67f9425510be/3133d6ab-80a8-4996-ac4f-03df25cd3224/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2NvbXBuZXJkL3Byb2plY3RJZC8zMTMzZDZhYi04MGE4LTQ5OTYtYWM0Zi0wM2RmMjVjZDMyMjQvYnVpbGRJZC81MDQ4NS9hcnRpZmFjdE5hbWUvZ3JhcGh2aXotd2luZG93cy14NjQ1/content?format=zip" -OutFile $env:Temp\graphviz-windows-x64.zip
        Expand-Archive -Path $env:Temp\graphviz-windows-x64.zip -Destination $env:Temp -Force
        Move-Item -Path $env:Temp\graphviz-windows-x64\Library\graphviz-development -Destination C:\Library\ -Force
    - name: Add graphviz to PATH
      run: |
        echo "C:\Library\graphviz-development\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - uses: robinraju/release-downloader@v1
      with:
        repository: compnerd/swift-build
        tag: swift-doc-5.5-DEVELOPMENT-SNAPSHOT-2021-05-02-a
        fileName: swift-doc.exe
        out-file-path: C:\Library\Developer\Toolchains\unknown-Asserts-development.xctoolchain\usr\bin\

    - name: Prepare
      run: |
        git config user.email "${{ github.actor }}@users.noreply.github.com"
        git config user.name "Swift/Win32"
        git worktree add --no-checkout --detach site
        git -C site remote rm origin
        git -C site remote add origin "https://x-access-token:${{ secrets.PAT }}@github.com/${{ github.repository }}"
        git -C site checkout --orphan website

    - name: Generate Documentation
      run: |
        swift doc generate Sources\SwiftWin32\CG --module-name CoreGraphics --output site\CoreGraphics --format html --base-url https://compnerd.github.io/swift-win32/CoreGraphics
        swift doc generate Sources\SwiftWin32 --module-name SwiftWin32 --output site\SwiftWin32 --format html --base-url https://compnerd.github.io/swift-win32/SwiftWin32
        swift doc generate Sources\SwiftWin32UI --module-name SwiftWin32UI --output site\SwiftWin32UI --format html --base-url https://compnerd.github.io/swift-win32/SwiftWin32UI

    - name: Deploy
      run: |
        git -C site add --all
        git -C site commit --quiet --no-verify -m "${{ github.repository }}@${{ github.sha }}"
        git -C site push origin --force-with-lease HEAD:refs/heads/gh-pages

    - name: Cleanup
      run: |
        git worktree remove --force site
