name: lint

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.swift'

jobs:
  lint:
    runs-on: windows-latest

    strategy:
      matrix:
        include:
          - branch: swift-5.5-branch
            tag: 5.5-DEVELOPMENT-SNAPSHOT-2021-05-02-a

    steps:
    - uses: actions/checkout@v2
    - uses: seanmiddleditch/gha-setup-vsdevenv@master
    - name: Install Swift
      uses: ./.github/actions/install-swift
      with:
        tag: ${{ matrix.tag }}
        branch: ${{ matrix.branch }}

    - uses: robinraju/release-downloader@v1
      with:
        repository: compnerd/swift-build
        tag: swift-format-5.5-DEVELOPMENT-SNAPSHOT-2021-05-02-a
        fileName: swift-format.exe
        out-file-path: C:\Library\Developer\Toolchains\unknown-Asserts-development.xctoolchain\usr\bin\

    - uses: compnerd/swift-format-linter-action@cleanup
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
